<% provide(:title, "Home") %>

<% if current_user %>

    <% if current_user.access_granted? %>
      <div class="jumbotron" style="background-color:silver">
        <table class="table table-hover" style="background-color: whitesmoke">
          <thead>
          <tr>
            <th>Modules</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= link_to "Server Records", server_records_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Client Records", client_records_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Application Records", herga_applications_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Network Switches Connections", network_switches_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Open Service Requests", service_requests_opensr_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Closed Service Requests", service_requests_closedsr_path %></td>
          </tr>

          <% if current_user.admin? %>
            <tr>
              <td><%= link_to "All Service Requests", service_requests_path %></td>
              <td> </td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>

  <% else %>
    <div class="alert-danger">Your Access Request is currently under review.  Please contact the system administrator
      for more information.
    </div>
  <% end  %>


<% else %>

  <div class="jumbotron" style="background-color: #2a4b51">
    <div class="breadcrumb" style="background-color: khaki">
      <h2>Techweb</h2>
    </div>
    <div class="jumbotron">
      <%= @visitor_view_desc %>
    </div>

    <div class="breadcrumb" style="background-color: khaki; color: #730E15">
      <%= @notice_of_access_request %>
    </div>

  <% end %>




  </div>


