<%= simple_form_for(@service_request, html: { class: 'form' }) do |f| %>
  <% if service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% service_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="jumbotron" style="background-color: silver">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :ticket_number, placeholder: "Save SR to generate Reference",:readonly => true %>

        <%= f.association :request_status, collection: RequestStatus.order(:name),label_method: :name,
                          prompt: "Select", label:"Request Status" %>

        <%= f.association :request_type, collection: RequestType.order(:name),label_method: :name,
                          prompt: "Select", label:"Request Type" %>

        <%= f.association :tech_service, collection: TechService.order(:name),label_method: :name,
                          prompt: "Select", label:"Tech Service" %>
      </div>
      <div class="col-sm-4">
        <%= f.input :problem_description %>

        <%= f.input :case_notes %>
      </div>
      <div class="col-sm-4">
        <%= f.input :case_resolution %>

        <%= f.input :resolved %>

        <%= f.input :user_id, :as =>  :hidden,input_html: {value:current_user.id} %>
      </div>
    </div>

    <div class="breadcrumb" style="background-color: lightgray">
      <%= f.button :submit, "Save" %>
    </div>


  </div>

<% end %>
