
<% provide(:title, "SR's") %>


<div class="breadcrumb" style="background-color: darkblue;color:whitesmoke">
  <h5>Service Requests | <%= @page_title %> </h5>
</div>


<div class="jumbotron"style=" background-color:silver ">
  <table class="table table-bordered" style="background-color: white">
    <thead>
    <tr>
      <th>Ticket number</th>
      <th>Request type</th>
      <th>Tech service</th>
      <th>Resolved</th>
      <th>Created By</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= service_request.ticket_number %></td>
        <td><%= service_request.request_type.name %></td>
        <td><%= service_request.tech_service.name %></td>
        <td><%= service_request.resolved.humanize %></td>
        <td><%= service_request.user.fullname %></td>
        <td><%= link_to 'View', service_request %></td>
        <td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Delete', service_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <div class="breadcrumb">
    <%= link_to 'New Service Request', new_service_request_path %>
  </div>


</div>




