<% provide(:title, "SR") %>


<div class="breadcrumb" style="background-color: navy;color: white">
  <h4> Ref#: <%= @service_request.ticket_number %> | <%= @service_request.tech_service.name %> </h4>
</div>


<div class="jumbotron" style="background-color: silver;color: black">
  <table class="table table-bordered" style="background-color: whitesmoke">
    <tbody>
    <tr>
      <td>SR Date:</td>
      <td> <%= @service_request.created_at.strftime("%d %b. %Y")  %></td>
    </tr>
    <tr>
      <td>Last Seen On:</td>
      <td> <%= @service_request.updated_at.strftime("%d %b. %Y")  %></td>
    </tr>
    <tr>
      <td>Ticket number:</td>
      <td> <%= @service_request.ticket_number %></td>
    </tr>
    <tr>
      <td>Tech service:</td>
      <td> <%= @service_request.tech_service.name %></td>
    </tr>
    <tr>
      <td>Problem description:</td>
      <td><%= @service_request.problem_description %></td>
    </tr>
    <tr>
      <td>Request status:</td>
      <td><%= @service_request.request_status.name%></td>
    </tr>
    <tr>
      <td>Case notes:</td>
      <td><%= @service_request.case_notes %></td>
    </tr>
    <tr>
      <td>Case resolution:</td>
      <td> <%= @service_request.case_resolution %></td>
    </tr>
    <tr>
      <td>Resolved:</td>
      <td><%= @service_request.resolved.humanize %></td>
    </tr>
    <tr>
      <td>Created By:</td>
      <td>  <%= @service_request.user.fullname %></td>
    </tr>
    </tbody>
  </table>

  <div class="breadcrumb">
    <%= link_to 'Edit', edit_service_request_path(@service_request) %> |
    <%= link_to 'Back', service_requests_path %>
  </div>
</div>




