<%= simple_form_for(@network_switch, html: { class: 'form' }) do |f| %>
  <% if network_switch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network_switch.errors.count, "error") %> prohibited this network_switch from being saved:</h2>

      <ul>
      <% network_switch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron" style="background-color: silver">

    <div class="row">
      <div class="col-sm-4">
        <%= f.input :code_name %>
        <%= f.input :branding %>
        <%= f.input :number_of_ports %>
        <%= f.input :s_location, label: "Switch Location" %>
      </div>
      <div class="col-sm-4">
        <%= f.input :ip_address %>
        <%= f.input :user_name %>
        <%= f.input :password %>
        <%= f.input :active %>
      </div>
      <div class="col-sm-4">
        <%= f.input :user_id, :as =>  :hidden,input_html: {value:current_user.id} %>
        <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname,
                          prompt: "Select", label:"Owner" %>
        <%= f.input :notes %>
      </div>
    </div>

    <div class="breadcrumb" style="background-color: gray">
      <%= f.button :submit, "Save" %>
    </div>

  </div>


  <div class="jumbotron" style="background-color: lightgrey">

    <div class="breadcrumb" style="background-color: darkgrey">
      Client Accessories
    </div>

    <div class="nested_fields">

      <%= f.simple_fields_for :switch_ports do |port| %>
        <div class="jumbotron">
          <%= render 'switch_port_fields', :f => port %>
        </div>
      <% end %>
      <br>
      <div class="breadcrumb">
        <%= link_to_add_association 'Add', f, :switch_ports, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
      </div>
    </div>
    <hr/>
  </div>

  <div class="breadcrumb" style="background-color: silver">
    <%= f.button :submit, "Save" %>
  </div>

<% end %>
