<%= form_with(model: server_record, local: true) do |form| %>
  <% if server_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server_record.errors.count, "error") %> prohibited this server_record from being saved:</h2>

      <ul>
      <% server_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :virtual %>
    <%= form.check_box :virtual %>
  </div>

  <div class="field">
    <%= form.label :operating_system_id %>
    <%= form.number_field :operating_system_id %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.number_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :deployment_status_id %>
    <%= form.number_field :deployment_status_id %>
  </div>

  <div class="field">
    <%= form.label :deployment_date %>
    <%= form.date_select :deployment_date %>
  </div>

  <div class="field">
    <%= form.label :domain_controller %>
    <%= form.check_box :domain_controller %>
  </div>

  <div class="field">
    <%= form.label :functional_level_id %>
    <%= form.number_field :functional_level_id %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
