<%= simple_form_for(@server_record, html: { class: 'form' }) do |f| %>
  <% if server_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server_record.errors.count, "error") %> prohibited this server_record from being saved:</h2>

      <ul>
      <% server_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron" style="background-color: silver">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :name %>
        <%= f.input :description %>
        <div>
          <%= f.input :virtual %>
        </div>
        <div>
          <%= f.input :domain_controller %>
        </div>
      </div>
      <div class="col-sm-4">
        <%= f.input :deployment_date %>
        <%= f.association :operating_system, collection: OperatingSystem.order(:name),label_method: :name,
                             prompt: "Select", label:"Operating System" %>

        <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname,
                          prompt: "Select", label:"Owner" %>

        <%= f.association :deployment_status, collection: DeploymentStatus.order(:name),label_method: :name,
                             prompt: "Select ", label:"Deployment Status" %>

        <%= f.association :functional_level, collection: FunctionalLevel.order(:name),label_method: :name,
                             prompt: "Select ", label:"Functional Level" %>

        <%= f.input :user_id, :as =>  :hidden,input_html: {value:current_user.id} %>

      </div>
      <div class="col-sm-4">
        <%= f.input :notes %>
      </div>
    </div>

    <div class="breadcrumb" style="background-color: lightgray">
      <%= f.button :submit, "Save" %>
    </div>


  </div>

  <div class="jumbotron" style="background-color: lightgrey">

    <div class="breadcrumb" style="background-color: darkgrey">
        Server Accessories
    </div>

    <div class="nested_fields">

      <%= f.simple_fields_for :server_accessories do |accessory| %>
        <div class="jumbotron">
          <%= render 'server_accessory_fields', :f => accessory %>
        </div>
      <% end %>
      <br>
      <div class="breadcrumb">
        <%= link_to_add_association 'Add', f, :server_accessories, class: 'fa fa-plus',style:"font-size:15px;color:green"%>
      </div>
    </div>
    <hr/>
  </div>


  <div class="breadcrumb" style="background-color: silver">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
