<% provide(:title, "Server") %>


<div class="breadcrumb" style="background-color: navy;color: white">
  <h4> Ref#: <%= @server_record.id %> | <%= @server_record.name %> </h4>
</div>


<div class="jumbotron" style="background-color: silver;color: black">
  <table class="table table-bordered" style="background-color: whitesmoke">
    <tbody>
    <tr>
      <td>Name:</td>
      <td> <%= @server_record.name %> </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td> <%= @server_record.description %></td>
    </tr>
    <tr>
      <td>Virtual:</td>
      <td><%= @server_record.virtual.humanize %></td>
    </tr>
    <tr>
      <td>Operating System:</td>
      <td><%= @server_record.operating_system.name %></td>
    </tr>
    <tr>
      <td>Person:</td>
      <td><%= @server_record.person.fullname %></td>
    </tr>
    <tr>
      <td>Deployment Status:</td>
      <td><%= @server_record.deployment_status.name%> </td>
    </tr>
    <tr>
      <td>Deployment Date:</td>
      <td><%= @server_record.deployment_date.strftime("%d %b. %Y") %></td>
    </tr>
    <tr>
      <td>Domain Controller:</td>
      <td><%= @server_record.domain_controller.humanize %></td>
    </tr>
    <tr>
      <td>Functional Level:</td>
      <td><%= @server_record.functional_level.name %></td>
    </tr>
    <tr>
      <td>Notes:</td>
      <td>  <%= @server_record.notes %></td>
    </tr>
    <tr>
      <td> Record created by:</td>
      <td><%= @server_record.user.fullname %></td>
    </tr>
    </tbody>
  </table>

  <div class="breadcrumb">
    <%= link_to 'Edit', edit_server_record_path(@server_record) %> |
    <%= link_to 'Back', server_records_path %>
  </div>
</div>

<div class="jumbotron" style="background-color: silver">
  <div class="breadcrumb", style="background-color: darkgrey">
    Related Accessories
  </div>

  <table class="table table-bordered" style="background-color: white;color: black">
    <thead>
    <tr>
      <th>Accessory</th>
      <th>Notes</th>

      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% for server_accessory in @server_record.server_accessories %>
      <tr>
        <td data-toggle= "tooltip"  data-placement="top"
        title="Description: <%= server_accessory.accessory.description %> - Active: <%=server_accessory.accessory.active.humanize %>
        - HD: <%= server_accessory.accessory.hard_disk.humanize %> - NIC: <%=server_accessory.accessory.network_card.humanize %>
        - Notes: <%= server_accessory.accessory.notes %> ">
          <%= server_accessory.accessory.name %></td>
        <td><%= server_accessory.notes %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="breadcrumb">
    <%= link_to 'Edit', edit_server_record_path(@server_record) %> |
    <%= link_to 'Back', server_records_path %>
  </div>

</div>


