<%= simple_form_for(@herga_application, html: { class: 'form' }) do |f| %>
  <% if herga_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(herga_application.errors.count, "error") %> prohibited this herga_application from being saved:</h2>

      <ul>
      <% herga_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron" style="background-color: silver">

    <div class="row">
      <div class="col-sm-4">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :dev_framework %>
        <%= f.input :framework_description %>
        <%= f.input :framework_version %>
        <%= f.input :user_id, :as =>  :hidden,input_html: {value:current_user.id} %>
      </div>
      <div class="col-sm-4">
        <%= f.association :server_record, collection: ServerRecord.order(:name),label_method: :name,
                          prompt: "Select", label:"Host Server" %>
        <%= f.association :deployment_status, collection: DeploymentStatus.order(:name),label_method: :name,
                          prompt: "Select", label:"Deployment Status" %>
        <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname,
                          prompt: "Select", label:"Owner" %>
        <%= f.input :inhouse_build %>
        <%= f.input :third_party_build %>
      </div>
      <div class="col-sm-4">
        <%= f.input :deployment_date %>
        <%= f.input :decomissioned_date %>
        <%= f.input :notes %>
      </div>
    </div>

    <div class="breadcrumb" style="background-color: gray">
      <%= f.button :submit, "Save" %>
    </div>

  </div>
<% end %>
