
<% provide(:title, "Application") %>


<div class="breadcrumb" style="background-color: navy;color: white">
  <h4> Ref#: <%= @herga_application.id %> | <%= @herga_application.name %> </h4>
</div>


<div class="jumbotron" style="background-color: silver;color: black">
  <table class="table table-bordered" style="background-color: whitesmoke">
    <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @herga_application.name %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td> <%= @herga_application.description %></td>
    </tr>
    <tr>
      <td>Dev framework:</td>
      <td>  <%= @herga_application.dev_framework %></td>
    </tr>
    <tr>
      <td>Framework description:</td>
      <td><%= @herga_application.framework_description %></td>
    </tr>
    <tr>
      <td>Framework version:</td>
      <td><%= @herga_application.framework_version %></td>
    </tr>
    <tr>
      <td>Deployment Status:</td>
      <td><%= @herga_application.deployment_status.name %></td>
    </tr>
    <tr>
      <td>Deployment Date:</td>
      <td><%= @herga_application.deployment_date.strftime("%d %b. %Y") %></td>
    </tr>
    <tr>
      <td>Decomissioned date:</td>
      <td>  <%= @herga_application.decomissioned_date.strftime("%d %b. %Y") %></td>
    </tr>
    <tr>
      <td> Record Owned by:</td>
      <td><%= @herga_application.person.fullname %></td>
    </tr>
    <tr>
      <td> Record created by:</td>
      <td><%= @herga_application.user.fullname %></td>
    </tr>
    <tr>
      <td>Server record:</td>
      <td><%= @herga_application.server_record.name %></td>
    </tr>
    <tr>
      <td>Inhouse build:</td>
      <td><%= @herga_application.inhouse_build.humanize %></td>
    </tr>
    <tr>
      <td>Third party build:</td>
      <td><%= @herga_application.inhouse_build.humanize %></td>
    </tr>
    <tr>
      <td>Notes:</td>
      <td><%= @herga_application.notes %></td>
    </tr>
    </tbody>
  </table>

  <div class="breadcrumb">
    <%= link_to 'Edit', edit_herga_application_path(@herga_application) %> |
    <%= link_to 'Back', herga_applications_path %>
  </div>
</div>





